* {
  margin: 0;
  padding: 0;
}

:root,
[data-bs-theme='light'] {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-primary-text-emphasis: #052c65;
  --bs-secondary-text-emphasis: #2b2f32;
  --bs-success-text-emphasis: #0a3622;
  --bs-info-text-emphasis: #055160;
  --bs-warning-text-emphasis: #664d03;
  --bs-danger-text-emphasis: #58151c;
  --bs-light-text-emphasis: #495057;
  --bs-dark-text-emphasis: #495057;
  --bs-primary-bg-subtle: #cfe2ff;
  --bs-secondary-bg-subtle: #e2e3e5;
  --bs-success-bg-subtle: #d1e7dd;
  --bs-info-bg-subtle: #cff4fc;
  --bs-warning-bg-subtle: #fff3cd;
  --bs-danger-bg-subtle: #f8d7da;
  --bs-light-bg-subtle: #fcfcfd;
  --bs-dark-bg-subtle: #ced4da;
  --bs-primary-border-subtle: #9ec5fe;
  --bs-secondary-border-subtle: #c4c8cb;
  --bs-success-border-subtle: #a3cfbb;
  --bs-info-border-subtle: #9eeaf9;
  --bs-warning-border-subtle: #ffe69c;
  --bs-danger-border-subtle: #f1aeb5;
  --bs-light-border-subtle: #e9ecef;
  --bs-dark-border-subtle: #adb5bd;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-font-sans-serif:
    system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', 'Noto Sans', 'Liberation Sans', Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg: #fff;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-emphasis-color: #000;
  --bs-emphasis-color-rgb: 0, 0, 0;
  --bs-secondary-color: rgba(33, 37, 41, 0.75);
  --bs-secondary-color-rgb: 33, 37, 41;
  --bs-secondary-bg: #e9ecef;
  --bs-secondary-bg-rgb: 233, 236, 239;
  --bs-tertiary-color: rgba(33, 37, 41, 0.5);
  --bs-tertiary-color-rgb: 33, 37, 41;
  --bs-tertiary-bg: #f8f9fa;
  --bs-tertiary-bg-rgb: 248, 249, 250;
  --bs-heading-color: inherit;
  --bs-link-color: #0d6efd;
  --bs-link-color-rgb: 13, 110, 253;
  --bs-link-decoration: underline;
  --bs-link-hover-color: #0a58ca;
  --bs-link-hover-color-rgb: 10, 88, 202;
  --bs-code-color: #d63384;
  --bs-highlight-color: #212529;
  --bs-highlight-bg: #fff3cd;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #dee2e6;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.375rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-xxl: 2rem;
  --bs-border-radius-2xl: var(--bs-border-radius-xxl);
  --bs-border-radius-pill: 50rem;
  --bs-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --bs-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  --bs-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  --bs-focus-ring-width: 0.25rem;
  --bs-focus-ring-opacity: 0.25;
  --bs-focus-ring-color: rgba(13, 110, 253, 0.25);
  --bs-form-valid-color: #198754;
  --bs-form-valid-border-color: #198754;
  --bs-form-invalid-color: #dc3545;
  --bs-form-invalid-border-color: #dc3545;
}

:root {
  --background-body: #fff;
  --background-body-tertiary: #f8f9fa;
  --scroll-track-background: #fff;
  --scroll-thumb-background: #ccc;
  --scroll-thumb-hover: #9e9e9e;
  --brand-name-100: black;
  --brand-name-200: black;
  --brand-social: #4762f8;
  --border-hero-right: #eee;
  --background-hero-right: linear-gradient(to right, #fff, #eee);
  --border-top-hero-right: linear-gradient(to right, transparent, #fff, #fff, transparent);
  --text-red-500: #f96f73;
  --text-yellow-500: #fa9348;
  --text-green-500: #b6f9d2;
  --text-green-700: #56b10e;
  --text-pink-100: #ec4899;
  --text-pink-200: #bd21b8;
  --text-blue-100: #1dd2ec;
  --text-white: #000;
  --line-blue-500: #1a1443;
  --resize-button: linear-gradient(to right, #ec4899, #8b5cf6);
  --glow-card-background: #f5f6f7;
  --skill-card-background: #f5f6f7;
  --border-top-skill-card: linear-gradient(to right, transparent, #fff, #fff, transparent);
}

[data-bs-theme='dark'] {
  --background-body: #0d1224;
  --background-body-tertiary: transparent;
  --scroll-track-background: #0d1224;
  --scroll-thumb-background: #606060;
  --scroll-thumb-hover: #d6d6d6;
  --brand-name-100: #16f2b3;
  --brand-name-200: #ec4899;
  --brand-social: #ec4899;
  --border-hero-right: rgba(27, 44, 104, 0.6274509804);
  --background-hero-right: linear-gradient(to right, #0d1224, #0a0d37);
  --border-top-hero-right: linear-gradient(to right, transparent, #ec4899, #8b5cf6, transparent);
  --text-red-500: #f96f73;
  --text-yellow-500: #fa9348;
  --text-green-500: #b6f9d2;
  --text-green-700: #56b10e;
  --text-pink-100: #ec4899;
  --text-pink-200: #bd21b8;
  --text-blue-100: #1dd2ec;
  --text-white: #fff;
  --line-blue-500: #1a1443;
  --resize-button: linear-gradient(to right, #ec4899, #8b5cf6);
  --glow-card-background: #101123;
  --skill-card-background: #11152c;
  --border-top-skill-card: linear-gradient(to right, transparent, #8b5cf6, #8b5cf6, transparent);
}

.navbar-brand {
  padding-top: var(--bs-navbar-brand-padding-y);
  padding-bottom: var(--bs-navbar-brand-padding-y);
  margin-right: var(--bs-navbar-brand-margin-end);
  font-size: var(--bs-navbar-brand-font-size);
  color: var(--bs-navbar-brand-color);
  text-decoration: none;
  white-space: nowrap;
}

.brand-green {
  color: var(--brand-name-100);
}

.brand-red {
  color: var(--brand-name-200);
}

a.highlight {
  color: var(--brand-social);
}

body {
  background-color: var(--background-body) !important;
}

#bg-body-tertiary {
  background-color: var(--background-body-tertiary) !important;
}

// @media (min-width: 768px) {
//   .float-md-start {
//     float: left !important;
//   }

//   .float-md-end {
//     float: right !important;
//   }

//   .float-md-none {
//     float: none !important;
//   }

//   .object-fit-md-contain {
//     object-fit: contain !important;
//   }

//   .object-fit-md-cover {
//     object-fit: cover !important;
//   }

//   .object-fit-md-fill {
//     object-fit: fill !important;
//   }

//   .object-fit-md-scale {
//     object-fit: scale-down !important;
//   }

//   .object-fit-md-none {
//     object-fit: none !important;
//   }

//   .d-md-inline {
//     display: inline !important;
//   }

//   .d-md-inline-block {
//     display: inline-block !important;
//   }

//   .d-md-block {
//     display: block !important;
//   }

//   .d-md-grid {
//     display: grid !important;
//   }

//   .d-md-inline-grid {
//     display: inline-grid !important;
//   }

//   .d-md-table {
//     display: table !important;
//   }

//   .d-md-table-row {
//     display: table-row !important;
//   }

//   .d-md-table-cell {
//     display: table-cell !important;
//   }

//   .d-md-flex {
//     display: flex !important;
//   }

//   .d-md-inline-flex {
//     display: inline-flex !important;
//   }

//   .d-md-none {
//     display: none !important;
//   }

//   .flex-md-fill {
//     flex: 1 1 auto !important;
//   }

//   .flex-md-row {
//     flex-direction: row !important;
//   }

//   .flex-md-column {
//     flex-direction: column !important;
//   }

//   .flex-md-row-reverse {
//     flex-direction: row-reverse !important;
//   }

//   .flex-md-column-reverse {
//     flex-direction: column-reverse !important;
//   }

//   .flex-md-grow-0 {
//     flex-grow: 0 !important;
//   }

//   .flex-md-grow-1 {
//     flex-grow: 1 !important;
//   }

//   .flex-md-shrink-0 {
//     flex-shrink: 0 !important;
//   }

//   .flex-md-shrink-1 {
//     flex-shrink: 1 !important;
//   }

//   .flex-md-wrap {
//     flex-wrap: wrap !important;
//   }

//   .flex-md-nowrap {
//     flex-wrap: nowrap !important;
//   }

//   .flex-md-wrap-reverse {
//     flex-wrap: wrap-reverse !important;
//   }

//   .justify-content-md-start {
//     justify-content: flex-start !important;
//   }

//   .justify-content-md-end {
//     justify-content: flex-end !important;
//   }

//   .justify-content-md-center {
//     justify-content: center !important;
//   }

//   .justify-content-md-between {
//     justify-content: space-between !important;
//   }

//   .justify-content-md-around {
//     justify-content: space-around !important;
//   }

//   .justify-content-md-evenly {
//     justify-content: space-evenly !important;
//   }

//   .align-items-md-start {
//     align-items: flex-start !important;
//   }

//   .align-items-md-end {
//     align-items: flex-end !important;
//   }

//   .align-items-md-center {
//     align-items: center !important;
//   }

//   .align-items-md-baseline {
//     align-items: baseline !important;
//   }

//   .align-items-md-stretch {
//     align-items: stretch !important;
//   }

//   .align-content-md-start {
//     align-content: flex-start !important;
//   }

//   .align-content-md-end {
//     align-content: flex-end !important;
//   }

//   .align-content-md-center {
//     align-content: center !important;
//   }

//   .align-content-md-between {
//     align-content: space-between !important;
//   }

//   .align-content-md-around {
//     align-content: space-around !important;
//   }

//   .align-content-md-stretch {
//     align-content: stretch !important;
//   }

//   .align-self-md-auto {
//     align-self: auto !important;
//   }

//   .align-self-md-start {
//     align-self: flex-start !important;
//   }

//   .align-self-md-end {
//     align-self: flex-end !important;
//   }

//   .align-self-md-center {
//     align-self: center !important;
//   }

//   .align-self-md-baseline {
//     align-self: baseline !important;
//   }

//   .align-self-md-stretch {
//     align-self: stretch !important;
//   }

//   .order-md-first {
//     order: -1 !important;
//   }

//   .order-md-0 {
//     order: 0 !important;
//   }

//   .order-md-1 {
//     order: 1 !important;
//   }

//   .order-md-2 {
//     order: 2 !important;
//   }

//   .order-md-3 {
//     order: 3 !important;
//   }

//   .order-md-4 {
//     order: 4 !important;
//   }

//   .order-md-5 {
//     order: 5 !important;
//   }

//   .order-md-last {
//     order: 6 !important;
//   }

//   .m-md-0 {
//     margin: 0 !important;
//   }

//   .m-md-1 {
//     margin: 0.25rem !important;
//   }

//   .m-md-2 {
//     margin: 0.5rem !important;
//   }

//   .m-md-3 {
//     margin: 1rem !important;
//   }

//   .m-md-4 {
//     margin: 1.5rem !important;
//   }

//   .m-md-5 {
//     margin: 3rem !important;
//   }

//   .m-md-6 {
//     margin: 4rem !important;
//   }

//   .m-md-7 {
//     margin: 5rem !important;
//   }

//   .m-md-auto {
//     margin: auto !important;
//   }

//   .mx-md-0 {
//     margin-right: 0 !important;
//     margin-left: 0 !important;
//   }

//   .mx-md-1 {
//     margin-right: 0.25rem !important;
//     margin-left: 0.25rem !important;
//   }

//   .mx-md-2 {
//     margin-right: 0.5rem !important;
//     margin-left: 0.5rem !important;
//   }

//   .mx-md-3 {
//     margin-right: 1rem !important;
//     margin-left: 1rem !important;
//   }

//   .mx-md-4 {
//     margin-right: 1.5rem !important;
//     margin-left: 1.5rem !important;
//   }

//   .mx-md-5 {
//     margin-right: 3rem !important;
//     margin-left: 3rem !important;
//   }

//   .mx-md-6 {
//     margin-right: 4rem !important;
//     margin-left: 4rem !important;
//   }

//   .mx-md-7 {
//     margin-right: 5rem !important;
//     margin-left: 5rem !important;
//   }

//   .mx-md-auto {
//     margin-right: auto !important;
//     margin-left: auto !important;
//   }

//   .my-md-0 {
//     margin-top: 0 !important;
//     margin-bottom: 0 !important;
//   }

//   .my-md-1 {
//     margin-top: 0.25rem !important;
//     margin-bottom: 0.25rem !important;
//   }

//   .my-md-2 {
//     margin-top: 0.5rem !important;
//     margin-bottom: 0.5rem !important;
//   }

//   .my-md-3 {
//     margin-top: 1rem !important;
//     margin-bottom: 1rem !important;
//   }

//   .my-md-4 {
//     margin-top: 1.5rem !important;
//     margin-bottom: 1.5rem !important;
//   }

//   .my-md-5 {
//     margin-top: 3rem !important;
//     margin-bottom: 3rem !important;
//   }

//   .my-md-6 {
//     margin-top: 4rem !important;
//     margin-bottom: 4rem !important;
//   }

//   .my-md-7 {
//     margin-top: 5rem !important;
//     margin-bottom: 5rem !important;
//   }

//   .my-md-auto {
//     margin-top: auto !important;
//     margin-bottom: auto !important;
//   }

//   .mt-md-0 {
//     margin-top: 0 !important;
//   }

//   .mt-md-1 {
//     margin-top: 0.25rem !important;
//   }

//   .mt-md-2 {
//     margin-top: 0.5rem !important;
//   }

//   .mt-md-3 {
//     margin-top: 1rem !important;
//   }

//   .mt-md-4 {
//     margin-top: 1.5rem !important;
//   }

//   .mt-md-5 {
//     margin-top: 3rem !important;
//   }

//   .mt-md-6 {
//     margin-top: 4rem !important;
//   }

//   .mt-md-7 {
//     margin-top: 5rem !important;
//   }

//   .mt-md-auto {
//     margin-top: auto !important;
//   }

//   .me-md-0 {
//     margin-right: 0 !important;
//   }

//   .me-md-1 {
//     margin-right: 0.25rem !important;
//   }

//   .me-md-2 {
//     margin-right: 0.5rem !important;
//   }

//   .me-md-3 {
//     margin-right: 1rem !important;
//   }

//   .me-md-4 {
//     margin-right: 1.5rem !important;
//   }

//   .me-md-5 {
//     margin-right: 3rem !important;
//   }

//   .me-md-6 {
//     margin-right: 4rem !important;
//   }

//   .me-md-7 {
//     margin-right: 5rem !important;
//   }

//   .me-md-auto {
//     margin-right: auto !important;
//   }

//   .mb-md-0 {
//     margin-bottom: 0 !important;
//   }

//   .mb-md-1 {
//     margin-bottom: 0.25rem !important;
//   }

//   .mb-md-2 {
//     margin-bottom: 0.5rem !important;
//   }

//   .mb-md-3 {
//     margin-bottom: 1rem !important;
//   }

//   .mb-md-4 {
//     margin-bottom: 1.5rem !important;
//   }

//   .mb-md-5 {
//     margin-bottom: 3rem !important;
//   }

//   .mb-md-6 {
//     margin-bottom: 4rem !important;
//   }

//   .mb-md-7 {
//     margin-bottom: 5rem !important;
//   }

//   .mb-md-auto {
//     margin-bottom: auto !important;
//   }

//   .ms-md-0 {
//     margin-left: 0 !important;
//   }

//   .ms-md-1 {
//     margin-left: 0.25rem !important;
//   }

//   .ms-md-2 {
//     margin-left: 0.5rem !important;
//   }

//   .ms-md-3 {
//     margin-left: 1rem !important;
//   }

//   .ms-md-4 {
//     margin-left: 1.5rem !important;
//   }

//   .ms-md-5 {
//     margin-left: 3rem !important;
//   }

//   .ms-md-6 {
//     margin-left: 4rem !important;
//   }

//   .ms-md-7 {
//     margin-left: 5rem !important;
//   }

//   .ms-md-auto {
//     margin-left: auto !important;
//   }

//   .p-md-0 {
//     padding: 0 !important;
//   }

//   .p-md-1 {
//     padding: 0.25rem !important;
//   }

//   .p-md-2 {
//     padding: 0.5rem !important;
//   }

//   .p-md-3 {
//     padding: 1rem !important;
//   }

//   .p-md-4 {
//     padding: 1.5rem !important;
//   }

//   .p-md-5 {
//     padding: 3rem !important;
//   }

//   .p-md-6 {
//     padding: 4rem !important;
//   }

//   .p-md-7 {
//     padding: 5rem !important;
//   }

//   .px-md-0 {
//     padding-right: 0 !important;
//     padding-left: 0 !important;
//   }

//   .px-md-1 {
//     padding-right: 0.25rem !important;
//     padding-left: 0.25rem !important;
//   }

//   .px-md-2 {
//     padding-right: 0.5rem !important;
//     padding-left: 0.5rem !important;
//   }

//   .px-md-3 {
//     padding-right: 1rem !important;
//     padding-left: 1rem !important;
//   }

//   .px-md-4 {
//     padding-right: 1.5rem !important;
//     padding-left: 1.5rem !important;
//   }

//   .px-md-5 {
//     padding-right: 3rem !important;
//     padding-left: 3rem !important;
//   }

//   .px-md-6 {
//     padding-right: 4rem !important;
//     padding-left: 4rem !important;
//   }

//   .px-md-7 {
//     padding-right: 5rem !important;
//     padding-left: 5rem !important;
//   }

//   .py-md-0 {
//     padding-top: 0 !important;
//     padding-bottom: 0 !important;
//   }

//   .py-md-1 {
//     padding-top: 0.25rem !important;
//     padding-bottom: 0.25rem !important;
//   }

//   .py-md-2 {
//     padding-top: 0.5rem !important;
//     padding-bottom: 0.5rem !important;
//   }

//   .py-md-3 {
//     padding-top: 1rem !important;
//     padding-bottom: 1rem !important;
//   }

//   .py-md-4 {
//     padding-top: 1.5rem !important;
//     padding-bottom: 1.5rem !important;
//   }

//   .py-md-5 {
//     padding-top: 3rem !important;
//     padding-bottom: 3rem !important;
//   }

//   .py-md-6 {
//     padding-top: 4rem !important;
//     padding-bottom: 4rem !important;
//   }

//   .py-md-7 {
//     padding-top: 5rem !important;
//     padding-bottom: 5rem !important;
//   }

//   .pt-md-0 {
//     padding-top: 0 !important;
//   }

//   .pt-md-1 {
//     padding-top: 0.25rem !important;
//   }

//   .pt-md-2 {
//     padding-top: 0.5rem !important;
//   }

//   .pt-md-3 {
//     padding-top: 1rem !important;
//   }

//   .pt-md-4 {
//     padding-top: 1.5rem !important;
//   }

//   .pt-md-5 {
//     padding-top: 3rem !important;
//   }

//   .pt-md-6 {
//     padding-top: 4rem !important;
//   }

//   .pt-md-7 {
//     padding-top: 5rem !important;
//   }

//   .pe-md-0 {
//     padding-right: 0 !important;
//   }

//   .pe-md-1 {
//     padding-right: 0.25rem !important;
//   }

//   .pe-md-2 {
//     padding-right: 0.5rem !important;
//   }

//   .pe-md-3 {
//     padding-right: 1rem !important;
//   }

//   .pe-md-4 {
//     padding-right: 1.5rem !important;
//   }

//   .pe-md-5 {
//     padding-right: 3rem !important;
//   }

//   .pe-md-6 {
//     padding-right: 4rem !important;
//   }

//   .pe-md-7 {
//     padding-right: 5rem !important;
//   }

//   .pb-md-0 {
//     padding-bottom: 0 !important;
//   }

//   .pb-md-1 {
//     padding-bottom: 0.25rem !important;
//   }

//   .pb-md-2 {
//     padding-bottom: 0.5rem !important;
//   }

//   .pb-md-3 {
//     padding-bottom: 1rem !important;
//   }

//   .pb-md-4 {
//     padding-bottom: 1.5rem !important;
//   }

//   .pb-md-5 {
//     padding-bottom: 3rem !important;
//   }

//   .pb-md-6 {
//     padding-bottom: 4rem !important;
//   }

//   .pb-md-7 {
//     padding-bottom: 5rem !important;
//   }

//   .ps-md-0 {
//     padding-left: 0 !important;
//   }

//   .ps-md-1 {
//     padding-left: 0.25rem !important;
//   }

//   .ps-md-2 {
//     padding-left: 0.5rem !important;
//   }

//   .ps-md-3 {
//     padding-left: 1rem !important;
//   }

//   .ps-md-4 {
//     padding-left: 1.5rem !important;
//   }

//   .ps-md-5 {
//     padding-left: 3rem !important;
//   }

//   .ps-md-6 {
//     padding-left: 4rem !important;
//   }

//   .ps-md-7 {
//     padding-left: 5rem !important;
//   }

//   .gap-md-0 {
//     gap: 0 !important;
//   }

//   .gap-md-1 {
//     gap: 0.25rem !important;
//   }

//   .gap-md-2 {
//     gap: 0.5rem !important;
//   }

//   .gap-md-3 {
//     gap: 1rem !important;
//   }

//   .gap-md-4 {
//     gap: 1.5rem !important;
//   }

//   .gap-md-5 {
//     gap: 3rem !important;
//   }

//   .gap-md-6 {
//     gap: 4rem !important;
//   }

//   .gap-md-7 {
//     gap: 5rem !important;
//   }

//   .row-gap-md-0 {
//     row-gap: 0 !important;
//   }

//   .row-gap-md-1 {
//     row-gap: 0.25rem !important;
//   }

//   .row-gap-md-2 {
//     row-gap: 0.5rem !important;
//   }

//   .row-gap-md-3 {
//     row-gap: 1rem !important;
//   }

//   .row-gap-md-4 {
//     row-gap: 1.5rem !important;
//   }

//   .row-gap-md-5 {
//     row-gap: 3rem !important;
//   }

//   .row-gap-md-6 {
//     row-gap: 4rem !important;
//   }

//   .row-gap-md-7 {
//     row-gap: 5rem !important;
//   }

//   .column-gap-md-0 {
//     column-gap: 0 !important;
//   }

//   .column-gap-md-1 {
//     column-gap: 0.25rem !important;
//   }

//   .column-gap-md-2 {
//     column-gap: 0.5rem !important;
//   }

//   .column-gap-md-3 {
//     column-gap: 1rem !important;
//   }

//   .column-gap-md-4 {
//     column-gap: 1.5rem !important;
//   }

//   .column-gap-md-5 {
//     column-gap: 3rem !important;
//   }

//   .column-gap-md-6 {
//     column-gap: 4rem !important;
//   }

//   .column-gap-md-7 {
//     column-gap: 5rem !important;
//   }

//   .text-md-start {
//     text-align: left !important;
//   }

//   .text-md-end {
//     text-align: right !important;
//   }

//   .text-md-center {
//     text-align: center !important;
//   }
// }

.text-pink-100 {
  color: var(--text-pink-100);
}

.text-pink-200 {
  color: var(--text-pink-200);
}

.text-yellow-500 {
  color: var(--text-yellow-500);
}

.text-red-500 {
  color: var(--text-red-500);
}

.text-green-700 {
  color: var(--text-green-700);
}

.text-blue-100 {
  color: var(--text-blue-100);
}

.text-white-0 {
  color: var(--text-white);
}

.resize-button {
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 9999px;
  background-image: var(--resize-button);
  padding: 15px 25px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  border: none;
  font-weight: 600;
}

.resize-button:hover {
  gap: 10px;
  text-decoration: none;
}

.divider {
  height: 1px;
  border-top: 1px solid var(--border-hero-right);
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: var(--scroll-track-background);
}

::-webkit-scrollbar-thumb {
  background: var(--scroll-thumb-background);
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scroll-thumb-hover);
  border-radius: 12px;
}

.dropdown-toggle:after {
  display: none;
}

.project-card {
  padding: 50px 25px !important;
  height: auto !important;
  cursor: pointer;
}

.project-card-view {
  box-shadow: 0 3px 3px 3px var(--border-hero-right);
  color: var(--text-white);
  background-color: transparent !important;
  opacity: 0.9 !important;
  transition: all 0.5s ease 0s !important;
  height: 100% !important;
}

.project-card-view:hover {
  border-color: var(--brand-social);
}

.blog-card {
  padding: 50px 25px !important;
  height: auto !important;
}

.hero-right {
  border: 1px solid var(--border-hero-right);
  border-radius: 10px;
  background-image: var(--background-hero-right);
}

.hero-right .border-top {
  border-top-width: 1px;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-image: var(--border-top-hero-right) 1;
}

.hero-right .first {
  padding: 0 30px;
  height: 50px;
  border-color: var(--border-hero-right);
  border-width: 1px;
  border-style: solid;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  display: flex;
  gap: 10px;
  align-items: center;
}

.hero-right .first .circle {
  height: 12px;
  width: 12px;
  border-radius: 50%;
}

.hero-right .first .circle.bg-first {
  background-color: var(--text-red-500);
}

.hero-right .first .circle.bg-second {
  background-color: var(--text-yellow-500);
}

.hero-right .first .circle.bg-third {
  background-color: var(--text-green-500);
}

.hero-right .second {
  padding: 30px 30px 40px;
}
.experience-container .duration-text {
  display: flex;
  justify-content: center;
}

.experience-container .duration-text p {
  color: var(--text-pink-100);
  margin: 0;
  font-weight: 600;
}

.experience-container .details {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1.25rem 0.75rem;
}

.experience-container .details .icon {
  color: #8b5cf6;
  transition: all 0.3s;
}

.experience-container .details .icon:hover {
  transform: scale(1.25);
}

.experience-container .details .icon svg {
  width: 36px;
  height: 36px;
}

.experience-container .details .info p {
  margin-bottom: 0.5rem;
  font-weight: 500;
  text-transform: uppercase;
}

.experience-container .details .info p.title {
  font-size: 1rem;
}

.experience-container .details .info p.company {
  font-size: 0.875rem;
}

.skills-container .skills-header {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.skills-container .skills-header .line {
  width: 96px;
  height: 2px;
  background-color: #1a1443;
}

.skills-container .skills-header .skills-title {
  background-color: #1a1443;
  color: #fff;
  padding: 8px 20px;
  font-size: 1.25rem;
  border-radius: 0.375rem;
}

.skills-container .skills-marquee {
  width: 100%;
  margin-bottom: 50px;
}

.skills-container .skills-marquee .skill-item {
  margin: 12px 20px;
  border-top-width: 1px;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-image: var(--border-top-skill-card) 1;
  border-style: solid;
  border-radius: 0.375rem;
}

.skills-container .skills-marquee .skill-item .skill-card {
  width: 150px;
  height: 130px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border-hero-right);
  background-color: var(--skill-card-background);
  border-radius: 0.375rem;
  transition:
    transform 0.5s,
    border-color 0.5s;
  cursor: pointer;
}

.skills-container .skills-marquee .skill-item .skill-card:hover {
  transform: scale(1.15);
  border-color: violet;
  color: var(--brand-social);
}

.skills-container .skills-marquee .skill-item .skill-card .skill-image {
  height: 32px;
}

.skills-container .skills-marquee .skill-item .skill-card .skill-image img {
  height: 100%;
  width: auto;
  border-radius: 0.375rem;
}

.skills-container .skills-marquee .skill-item .skill-card .skill-name {
  color: var(--text-white-1);
  margin: 0;
  font-weight: 600;
}
